.storySegment {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 10px;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.agent {
  margin-right: auto;
  background-color: transparent;
  color: #fff;
}

.user {
  margin-left: auto;
  display: flex;
  background-color: var(--dark-brown);
}
