body {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: white;
  --font-green-prompt: #129b12;
  --font-size: 1.2rem;
  --font-family: 'Times New Roman', Times, serif;
  --prompt-font: 'Courier New', Courier, monospace;

  --brown: #af6540;
  --light-brown: #c27148;
  --dark-brown: #8e4e2e;
  --prompt-background: #130a08;
  --black: #111111;
}
