.panel {
  position: absolute;
}

.panel svg {
  display: block;
}

.top {
  top: 0;
  left: 0;
}

.top svg {
  transform-origin: top left;
  transform: rotate(90deg);
  height: 100%;
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
}

.right svg {
  transform-origin: top right;
  height: 100%;
}

.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom svg {
  transform: rotate(180deg);
  transform-origin: top right;
  height: 100%;
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
}

.left svg {
  height: 100%;
}
