.board {
  position: absolute;
  background-color: green;
  margin: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prompt {
  position: relative;
  bottom: auto;
  left: auto;
}

.story {
  border-left: 1px solid #ddd;
  padding-left: 1rem;
}

.knob {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
