.prompt {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 200px;
  background-color: var(--dark-brown);
  border: 5px solid var(--light-brown);
  margin: 0 1rem 1rem 1rem;
}

.textarea {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  resize: none;
  height: fill-content;
  width: 100%;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.textarea:focus {
  outline: none;
}

.button {
  width: 100%;
  background-color: #9a4d34;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
